<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Set the base href -->
        <base href="/">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="../../favicon.ico">
        <title>Hey man, I'm title!</title>

        <!-- Custom styles for this template -->
        <link href="/css/main.css" rel="stylesheet">

        <!-- IE required polyfills, in this exact order -->
        <script src="node_modules/es6-shim/es6-shim.min.js"></script>
        <script src="node_modules/systemjs/dist/system-polyfills.js"></script>
        <script src="node_modules/angular2/es6/dev/src/testing/shims_for_IE.js"></script>
        <script src="node_modules/angular2/bundles/angular2-polyfills.js"></script>
        <script src="node_modules/systemjs/dist/system.src.js"></script>
        <script src="node_modules/rxjs/bundles/Rx.js"></script>
        <script src="node_modules/angular2/bundles/angular2.dev.js"></script>
        <script src="node_modules/angular2/bundles/router.dev.js"></script>

        <script type="text/javascript">
            System.config({
                packages: {
                    angular: {
                        format: 'register',
                        defaultExtension: 'js'
                    }
                }
            });
            System.import('angular/main').then(null, console.error.bind(console));
        </script>

    </head>

    <body>

        <start-engine>
            <h1 class="main-loading-txt">
                <img src="/images/circles.svg" alt="Ah, Its Cool Spinner!"/>
            </h1>
        </start-engine>

    </body>
</html>
